<div id="<%= dom_id division %>">
  <p>
    <strong>Division name:</strong>
    <%= division.division_name %>
  </p>

  <p>
    <strong>District:</strong>
    <%= division.district_id %>
  </p>

</div>
